[Desktop Entry]
Name=SpybotPortable
Exec=env WINEPREFIX="/root/.wine" wine-stable C:\\\\windows\\\\command\\\\start.exe /Unix /root/.wine/drive_c/SpybotPortable/SpybotPortable.exe /allhives
Type=Application

